{% if d_gradovi.count > 0 %}
<div class="panel panel-default" style="postion:absolute;z-index: 999;width:150px;">
<div class="panel-body">
{% for d_grad in d_gradovi|slice:"20"%}
<li><a href="/grad/{{d_grad.ime_grada}}/"> {{d_grad.ime_grada}}</a></li>
{% endfor %}
</div>
</div>
{% endif %}