{% extends "vremenska/header.html" %}
{% block content %}
    {% load staticfiles %}

<div class="panel panel-default" style="margin-left:20%; width:65%; margin-top:10px;">
  <div class="panel-heading"> {{grad.ime_grada}} , trenutno</div>
  <div class="panel-body">
     <table class="table">
      <thead>
	  <tr>
      <th> Trenutno vrijeme</th>
	  <th> </th>
      <th>Trenutna temeratura (°C)</th>
      <th> Trenutna vlažnost(%)</th>
    </tr>
      </thead>
      <tbody>
	  <tr>
       <td>
      <div class ="col-sm-1" style="">
      <img src="{% static grad.trenutno_vrijeme_ikona %}"  alt="Vrijeme {{grad.ime_grada}}">       
      </div></td>
	  <td><h5>{{grad.trenutno_vrijeme}}</h5></td>
	  <td><h4>{{grad.trenutna_temperatura}}</h4></td>
	  <td><h4>{{grad.trenutna_vlaznost}}</h4></td>

  </tr>
  </tbody>
  </table>
  </div>
  </div>
<div id="myCarousel" class="carousel slide" >
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
    <li data-target="#myCarousel" data-slide-to="3"></li>
    <li data-target="#myCarousel" data-slide-to="4"></li>
    <li data-target="#myCarousel" data-slide-to="5"></li>
    <li data-target="#myCarousel" data-slide-to="6"></li>
    <li data-target="#myCarousel" data-slide-to="7"></li>
    <li data-target="#myCarousel" data-slide-to="8"></li>
    <li data-target="#myCarousel" data-slide-to="8"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
  <div class="panel panel-default" style="margin-left:20%; width:65%; margin-top:10px;">
    <div class="panel-heading">
      <h4 class="panel-title">
        {{grad.ime_grada}} , {% for s in grad.datum_as_list|slice:'0:1'%}{{s}}{%endfor%}
      </h4>
    </div>
      <div class="panel-body">
        <table class="table">
          <thead>
            <tr>
              <th>Vrijeme dana</th>
              <th>Vrijeme </th>
              <th></th>
              <th>Temperatura (°C)</th>
              <th>Vlažnost(%)</th>
              <th>Vjetar(km/h)</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><div>
                <h4>0:00</h4>
                </div> 
                </td>
                <td>
                  <div class ="col-sm-1" style="">
                  <img src="{% for s in grad.vrijeme_0_sati_vrijeme_ikona_as_list|slice:'0:1'%}{% static s %}{%endfor%}"  alt="Vrijeme {{grad.ime_grada}}">       
                  </div>
                  <br>
                  <br>
                </td>
                <td>
                  <div style="float:left;margin:top:15px">
                    {% for s in grad.vrijeme_0_sati_vrijeme_as_list|slice:'0:1'%}{{s}}{%endfor%}</div> 
                    </td>
                    <td><div>
                    <h4>{% for s in grad.vrijeme_0_sati_temp_as_list|slice:'0:1'%}{{s}}{%endfor%}</h4>
                    </div> 
                </td>

                <td><h4>{% for s in grad.vrijeme_0_sati_vlaznost_as_list|slice:'0:1'%}{{s}}{%endfor%}</h4></td>
                <td><h4>{% for s in grad.vrijeme_0_sati_vjetar_brzina_as_list|slice:'0:1'%}{{s}}{%endfor%}   {% for s in grad.vrijeme_0_sati_vjetar_smjer_as_list|slice:'0:1'%}{{s}}{%endfor%} </h4></td>
            </tr>
          <tr>
        <td><div>
          <h4>06:00</h4>
          </div> 
          </td>
          <td>
          <div class ="col-sm-1" style="">
          <img src="{% for s in grad.vrijeme_6_sati_vrijeme_ikona_as_list|slice:'0:1'%}{% static s %}{%endfor%}"  alt="Vrijeme {{grad.ime_grada}}">       
          </div>
        <br>
        <br>
        </td>
        <td>
        <div style="float:left;margin:top:15px">
          {% for s in grad.vrijeme_6_sati_vrijeme_as_list|slice:'0:1'%}{{s}}{%endfor%}</div> 
          </td>
          <td><div>
          <h4>{% for s in grad.vrijeme_6_sati_temp_as_list|slice:'0:1'%}{{s}}{%endfor%}</h4>
          </div> 
          </td>

        <td><h4>{% for s in grad.vrijeme_6_sati_vlaznost_as_list|slice:'0:1'%}{{s}}{%endfor%}</h4></td>
        <td><h4>{% for s in grad.vrijeme_6_sati_vjetar_brzina_as_list|slice:'0:1'%}{{s}}{%endfor%}   {% for s in grad.vrijeme_6_sati_vjetar_smjer_as_list|slice:'0:1'%}{{s}}{%endfor%} </h4></td>


          </tr>  
        <tr>
        <td><div>
          <h4>12:00</h4>
          </div> 
          </td>
          <td>
          <div class ="col-sm-1" style="">
          <img src="{% for s in grad.vrijeme_12_sati_vrijeme_ikona_as_list|slice:'0:1'%}{% static s %}{%endfor%}"  alt="Vrijeme {{grad.ime_grada}}">       
          </div>
        <br>
        <br>
        </td>
        <td>
        <div style="float:left;margin:top:15px">
          {% for s in grad.vrijeme_12_sati_vrijeme_as_list|slice:'0:1'%}{{s}}{%endfor%}</div> 
          </td>
          <td><div>
          <h4>{% for s in grad.vrijeme_12_sati_temp_as_list|slice:'0:1'%}{{s}}{%endfor%}</h4>
          </div> 
          </td>

        <td><h4>{% for s in grad.vrijeme_12_sati_vlaznost_as_list|slice:'0:1'%}{{s}}{%endfor%}</h4></td>
        <td><h4>{% for s in grad.vrijeme_12_sati_vjetar_brzina_as_list|slice:'0:1'%}{{s}}{%endfor%}   {% for s in grad.vrijeme_12_sati_vjetar_smjer_as_list|slice:'0:1'%}{{s}}{%endfor%} </h4></td>


          </tr>
    <tr>
        <td><div>
          <h4>18:00</h4>
          </div> 
          </td>
          <td>
          <div class ="col-sm-1" style="">
          <img src="{% for s in grad.vrijeme_18_sati_vrijeme_ikona_as_list|slice:'0:1'%}{% static s %}{%endfor%}"  alt="Vrijeme {{grad.ime_grada}}">       
          </div>
        <br>
        <br>
        </td>
        <td>
        <div style="float:left;margin:top:15px">
          {% for s in grad.vrijeme_18_sati_vrijeme_as_list|slice:'0:1'%}{{s}}{%endfor%}</div> 
          </td>
          <td><div>
          <h4>{% for s in grad.vrijeme_18_sati_temp_as_list|slice:'0:1'%}{{s}}{%endfor%}</h4>
          </div> 

        <td><h4>{% for s in grad.vrijeme_18_sati_vlaznost_as_list|slice:'0:1'%}{{s}}{%endfor%}</h4></td>
        <td><h4>{% for s in grad.vrijeme_18_sati_vjetar_brzina_as_list|slice:'0:1'%}{{s}}{%endfor%}   {% for s in grad.vrijeme_0_sati_vjetar_smjer_as_list|slice:'0:1'%}{{s}}{%endfor%} </h4></td>


          </tr>
          <tr>
        <td><div>
          <h4>22:00</h4>
          </div> 
          </td>
          <td>
          <div class ="col-sm-1" style="">
          <img src="{% for s in grad.vrijeme_22_sati_vrijeme_ikona_as_list|slice:'0:1'%}{% static s %}{%endfor%}"  alt="Vrijeme {{grad.ime_grada}}">       
          </div>
        <br>
        <br>
        </td>
        <td>
        <div style="float:left;margin:top:15px">
          {% for s in grad.vrijeme_22_sati_vrijeme_as_list|slice:'0:1'%}{{s}}{%endfor%}</div> 
          </td>
          <td><div>
          <h4>{% for s in grad.vrijeme_22_sati_temp_as_list|slice:'0:1'%}{{s}}{%endfor%}</h4>
          </div> 
          </td>
        <td><h4>{% for s in grad.vrijeme_22_sati_vlaznost_as_list|slice:'0:1'%}{{s}}{%endfor%}</h4></td>
        <td><h4>{% for s in grad.vrijeme_22_sati_vjetar_brzina_as_list|slice:'0:1'%}{{s}}{%endfor%}   {% for s in grad.vrijeme_0_sati_vjetar_smjer_as_list|slice:'0:1'%}{{s}}{%endfor%} </h4></td>


          </tr>
          </tbody>
      </table>
      </div>
    </div>
    </div>
{% for x in lista %}
<div class="item">
<!-- ovdje pocinje div za grad -->
  <div class="panel panel-default" style="margin-left:20%; width:65%; margin-top:10px;">
    <div class="panel-heading">
      <h4 class="panel-title">
        {{grad.ime_grada}} , {% for s in grad.datum_as_list|slice:x%}{{s}}{%endfor%}
      </h4>
    </div>
      <div class="panel-body">
        <table class="table">
          <thead>
        	  <tr>
          	  <th>Vrijeme dana</th>
              <th>Vrijeme </th>
          	  <th></th>
              <th>Temperatura (°C)</th>
              <th>Vlažnost(%)</th>
              <th>Vjetar(km/h)</th>
              </tr>
            </thead>
            <tbody>
              <tr>
          	    <td><div>
                <h4>0:00</h4>
                </div> 
                </td>
                <td>
                  <div class ="col-sm-1" style="">
                  <img src="{% for s in grad.vrijeme_0_sati_vrijeme_ikona_as_list|slice:x%}{% static s %}{%endfor%}"  alt="Vrijeme {{grad.ime_grada}}">       
                  </div>
            	    <br>
            	    <br>
          	    </td>
            	  <td>
              	  <div style="float:left;margin:top:15px">
                    {% for s in grad.vrijeme_0_sati_vrijeme_as_list|slice:x%}{{s}}{%endfor%}</div> 
                    </td>
                    <td><div>
                    <h4>{% for s in grad.vrijeme_0_sati_temp_as_list|slice:x%}{{s}}{%endfor%}</h4>
                    </div> 
                </td>

          	    <td><h4>{% for s in grad.vrijeme_0_sati_vlaznost_as_list|slice:x%}{{s}}{%endfor%}</h4></td>
          	    <td><h4>{% for s in grad.vrijeme_0_sati_vjetar_brzina_as_list|slice:x%}{{s}}{%endfor%}   {% for s in grad.vrijeme_0_sati_vjetar_smjer_as_list|slice:x%}{{s}}{%endfor%} </h4></td>
            </tr>
          <tr>
    	  <td><div>
          <h4>06:00</h4>
          </div> 
          </td>
          <td>
          <div class ="col-sm-1" style="">
          <img src="{% for s in grad.vrijeme_6_sati_vrijeme_ikona_as_list|slice:x%}{% static s %}{%endfor%}"  alt="Vrijeme {{grad.ime_grada}}">       
          </div>
    	  <br>
    	  <br>
    	  </td>
    	  <td>
    	  <div style="float:left;margin:top:15px">
          {% for s in grad.vrijeme_6_sati_vrijeme_as_list|slice:x%}{{s}}{%endfor%}</div> 
          </td>
          <td><div>
          <h4>{% for s in grad.vrijeme_6_sati_temp_as_list|slice:x%}{{s}}{%endfor%}</h4>
          </div> 
          </td>

    	  <td><h4>{% for s in grad.vrijeme_6_sati_vlaznost_as_list|slice:x%}{{s}}{%endfor%}</h4></td>
    	  <td><h4>{% for s in grad.vrijeme_6_sati_vjetar_brzina_as_list|slice:x%}{{s}}{%endfor%}   {% for s in grad.vrijeme_6_sati_vjetar_smjer_as_list|slice:x%}{{s}}{%endfor%} </h4></td>


          </tr>  
    	  <tr>
    	  <td><div>
          <h4>12:00</h4>
          </div> 
          </td>
          <td>
          <div class ="col-sm-1" style="">
          <img src="{% for s in grad.vrijeme_12_sati_vrijeme_ikona_as_list|slice:x%}{% static s %}{%endfor%}"  alt="Vrijeme {{grad.ime_grada}}">       
          </div>
    	  <br>
    	  <br>
    	  </td>
    	  <td>
    	  <div style="float:left;margin:top:15px">
          {% for s in grad.vrijeme_12_sati_vrijeme_as_list|slice:x%}{{s}}{%endfor%}</div> 
          </td>
          <td><div>
          <h4>{% for s in grad.vrijeme_12_sati_temp_as_list|slice:x%}{{s}}{%endfor%}</h4>
          </div> 
          </td>

    	  <td><h4>{% for s in grad.vrijeme_12_sati_vlaznost_as_list|slice:x%}{{s}}{%endfor%}</h4></td>
    	  <td><h4>{% for s in grad.vrijeme_12_sati_vjetar_brzina_as_list|slice:x%}{{s}}{%endfor%}   {% for s in grad.vrijeme_12_sati_vjetar_smjer_as_list|slice:x%}{{s}}{%endfor%} </h4></td>


          </tr>
    <tr>
    	  <td><div>
          <h4>18:00</h4>
          </div> 
          </td>
          <td>
          <div class ="col-sm-1" style="">
          <img src="{% for s in grad.vrijeme_18_sati_vrijeme_ikona_as_list|slice:x%}{% static s %}{%endfor%}"  alt="Vrijeme {{grad.ime_grada}}">       
          </div>
    	  <br>
    	  <br>
    	  </td>
    	  <td>
    	  <div style="float:left;margin:top:15px">
          {% for s in grad.vrijeme_18_sati_vrijeme_as_list|slice:x%}{{s}}{%endfor%}</div> 
          </td>
          <td><div>
          <h4>{% for s in grad.vrijeme_18_sati_temp_as_list|slice:x%}{{s}}{%endfor%}</h4>
          </div> 

    	  <td><h4>{% for s in grad.vrijeme_18_sati_vlaznost_as_list|slice:x%}{{s}}{%endfor%}</h4></td>
    	  <td><h4>{% for s in grad.vrijeme_18_sati_vjetar_brzina_as_list|slice:x%}{{s}}{%endfor%}   {% for s in grad.vrijeme_0_sati_vjetar_smjer_as_list|slice:x%}{{s}}{%endfor%} </h4></td>


          </tr>
          <tr>
    	  <td><div>
          <h4>22:00</h4>
          </div> 
          </td>
          <td>
          <div class ="col-sm-1" style="">
          <img src="{% for s in grad.vrijeme_22_sati_vrijeme_ikona_as_list|slice:x%}{% static s %}{%endfor%}"  alt="Vrijeme {{grad.ime_grada}}">       
          </div>
    	  <br>
    	  <br>
    	  </td>
    	  <td>
    	  <div style="float:left;margin:top:15px">
          {% for s in grad.vrijeme_22_sati_vrijeme_as_list|slice:x%}{{s}}{%endfor%}</div> 
          </td>
          <td><div>
          <h4>{% for s in grad.vrijeme_22_sati_temp_as_list|slice:x%}{{s}}{%endfor%}</h4>
          </div> 
          </td>
    	  <td><h4>{% for s in grad.vrijeme_22_sati_vlaznost_as_list|slice:x%}{{s}}{%endfor%}</h4></td>
    	  <td><h4>{% for s in grad.vrijeme_22_sati_vjetar_brzina_as_list|slice:x%}{{s}}{%endfor%}   {% for s in grad.vrijeme_0_sati_vjetar_smjer_as_list|slice:x%}{{s}}{%endfor%} </h4></td>


          </tr>
          </tbody>
      </table>
      </div>
    </div>
</div>
{% endfor %}
  </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

  
<div style="color:#ffffff; margin-left:10px;">
<div class="panel panel-default" style="background-color:#005CFF;margin-top:20px;">
  <div class="panel-heading">Vrijeme po gradovima</div>
  <div class="panel-body">
  {% for grad in gradovi %}
  <div class="col-sm-1"  style="float:left;color: inherit;">
  <a href="/grad/{{grad.ime_grada}}" style="color:#ffffff;"> {{grad.ime_grada}}</a>
</div>
{%endfor %}
</div>
</div>
</div>


{% endblock %}

