<!DOCTYPE html>
  <html lang="en">
  <head>
    {% if grad %} 
  <title>Vremenska Prognoza {{grad.ime_grada}} 10 dana</title>
  <meta name="keywords" content="Vremenska Prognoza za 10 dana Hrvatska {{grad.ime_grada}} Zagreb Split Osijek Dubrovnik Rijeka" />
   {% else %}
  <title>Vremenska Prognoza za 10 dana</title>
  <meta name="keywords" content="Vremenska Prognoza za 10 dana Hrvatska Zagreb Split Osijek Dubrovnik Rijeka" />
  {% endif %}
  <meta name="viewport" content="width=1024">
    {% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/homePage.css' %}">
<!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.1/css/bootstrap-select.css" />
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-106546542-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-106546542-2');
</script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.1/js/bootstrap-select.js"></script>
	<script src= {% static 'js/new1.js' %}></script>

</head>  
<body>
<div >
<img src="{% static '/images/clouds.jpg' %}"  alt="Clouds header" style="width:100%;height:120px;">
</div>
<div>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
	  <img src="{% static '/images/day/362.png' %}" alt="Logo Stranice">
      <a class="navbar-brand" href="/">Vremenska </a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/">Hrvatska danas</a></li>
      <li><a href="/sutra/">Hrvatska sutra</a></li>
      <li><a href="/grad/Zagreb/">Hrvatska 10 dana</a></li>
<li style="float:right"><div class="col-sm-6" style="margin-top:20px;float:right;position:absolute;z-index: 999; ">
	{% csrf_token %}
      <input type="text" id="search" name="search" placeholder="Ime Grada...">
  <div id="search-results" >
</div>
</div>
</li>
	</ul>
  </div>
</nav>    
</div>

    {% block content %}	
    {% endblock %}
</body>
</html>