{% extends "vremenska/header.html" %}

{% block content %}
    {% load staticfiles %};

<div class="container">
<img src="static/images/gotov.png" style="width:45%;height:500px;float:left;margin-left:20px;" alt="Karta vremena za danas">
<div class="panel panel-default" style="margin-left:20px;width:45%;height:500px;float:left;">
<div class="panel-heading">Vrijeme danas</div>
<div class="panel-body">
<table class="table">
  <thead>
  </thead>
  <tbody>
{% for grad in gradovi2 %}
<tr>
<td>
<div style="">
<div class ="col-sm-2" style="">
      <h4>{{grad.ime_grada}}</h4></div></div></td>
      <td>
	    <div class ="col-sm-1" style="float:left;">
          <img src="{% static grad.vrijeme_dan_ikona_as_list.0 %}"  alt="Vrijeme {{grad.ime_grada}}">
		</div>
	   </td>
      <td><div  style="margin-left:20px;color:blue;">
            <h4>{{grad.minimalna_temperatura_as_list.0}}  </h4><div style="color:red"><h4>{{grad.maximalna_temperatura_as_list.0}} </h4></div>
         </div> 
      </td>
    </tr></div>
{% endfor %}
  </tbody>
</table>

</div>
</div>
</div>


<div style="color:#ffffff; margin-left:10px;">
<div class="panel panel-default" style="background-color:#005CFF;margin-top:20px;">
  <div class="panel-heading">Vrijeme po gradovima</div>
  <div class="panel-body">
  {% for grad in gradovi %}
  <div class="col-sm-1"  style="float:left;color: inherit;">
  <a href="/grad/{{grad.ime_grada}}" style="color:#ffffff;"> {{grad.ime_grada}}</a>
</div>
{%endfor %}
</div>
</div>



{% endblock %}



