/* 
html {
    min-height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background: #0d3d56;
    background-repeat:no-repeat;
    background: -webkit-linear-gradient( to left top, #a2d8ef,#42bff4);
    background: -moz-linear-gradient( to left top, #a2d8ef,#42bff4);
    background: -ms-linear-gradient( to left top, #a2d8ef,#42bff4);
    background: -o-linear-gradient( to left top, #a2d8ef,#42bff4);
    background: linear-gradient( to left top, #a2d8ef,#42bff4);
} */
html {
  min-height: 100%;
}
body {
  width: 100%;
  min-height: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background:  #a2d8ef;
  background-repeat:no-repeat;
  background: -webkit-linear-gradient( to left top, #2a2ace,#42bff4);
  background: -moz-linear-gradient( to left top, #2a2ace,#42bff4);
  background: -ms-linear-gradient( to left top, #2a2ace,#42bff4);
  background: -o-linear-gradient( to left top, #2a2ace,#42bff4);
  background: linear-gradient(to left top, #2a2ace,#42bff4);
  
}
#cenDiv {
  position: absolute;

  z-index: 15;
  top: 50%;
  left: 50%;
  margin: -100px 0 0 -150px;
}
